* {
    padding: 15;
    margin: 30;
}

body{
    background-color: black;
}

header {
    width: 100%;
    height: 40px;
    background: rgb(190, 190, 190);

}

header span {
    font-weight: bold;
}

main {
    width: 100%;
    height: 100vh;
}

.modal-body img {
    max-width: 100%;
}

.jumbotron {
    background-color: #F9FBF2;

}

.btn-primary {
    color: #fff;
    background-color: #11316d;

}